.App {
  text-align: center;
}

body {
  background-image: url("../images/taxi.jpg");
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  padding-top: 70px;
  font-family: "Agency FB", cursive;
  font-size: 50px;
  color: aliceblue;
}

h2 {
  padding-top: 5px;
  font-family: "Agency FB", cursive;
  font-size: 30px;
  color: lightsteelblue;
}

h3 {
  margin: 10px;
  font-family: "Apple Color Emoji", cursive;
  font-size: 20px;
  font-weight: bolder;
}


.container {
  flex: 1;
  padding: 10px;
}

.button {
  border-radius: 15px;
  margin: 1px;
}


